<a href="https://colab.research.google.com/github/OscarAliM/Analisis-de-Desarrollo-de-Proyectos-de-Datos/blob/main/1_Extracci%C3%B3n_de_Datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Importamos librerias requeridas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import io

In [ ]:
#Cargar arvchivo csv desde equipo
from google.colab import files
files.upload()

In [ ]:
#Convertir en dataframe
df= pd.read_csv("file.csv")
df

In [ ]:
#*FILTROS BASICOS PARA VARIABLES CUALITATIVAS*

#Filtro por objetivo
filtro1=df[df["Entidad_Federativa"]=="Baja California"]
filtro1

In [ ]:
#Filtro por filas
filtro2=df.iloc[0:99,: ] #Filas Consecutivas
filtro2=df.iloc[[1000, 2000, 3000], : ] #Filas no Consecutivas
filtro2

In [ ]:
#Filtro por Columnas
filtro3=df.iloc[ : , 4:6] #Columnas Consecutivas
filtro3=df.iloc[ : , [1,4,6] ] #Columnas no Consecutivas
filtro3

In [ ]:
#Filtro por Columnas y por Filas
filtro_mix=df.iloc[ [10,20,50] , 2:5]
#filtro3=df.iloc[ : , [1,4,6]] #Columnas No consecutivas
filtro_mix

In [23]:
#Filtro de Filas vs Columnas
#Paso 1: Leemos el contenido del archivo
from google.colab import files
uploaded=files.upload()
df = pd.read_csv(io.BytesIO(uploaded['file.csv']), index_col=2)
df

Saving file.csv to file (2).csv

,Periodo,Trimestre,Sexo,Poblacion_ocupada_en_la_industria_manufacturera,Poblaci n_ocupada,Tasa_de_ocupaci n_en_la_industria_manufacturera
Entidad_Federativa,,,,,,
Nacional,2005,1,Hombres,4384907,26597801,16.485975660000000000000
Nacional,2005,1,Mujeres,2690296,14843275,18.124679360000000000000
Aguascalientes,2005,1,Hombres,56407,246177,22.913188480000000000000
Aguascalientes,2005,1,Mujeres,28430,145656,19.518591750000000000000
Baja California,2005,1,Hombres,167651,768989,21.801482210000000000000
...,...,...,...,...,...,...
Veracruz,2022,1,Mujeres,107640,1190733,9.0398099320000000000000
Yucat n,2022,1,Hombres,101992,691397,14.751582670000000000000
Yucat n,2022,1,Mujeres,82759,478943,17.279509250000000000000
Zacatecas,2022,1,Hombres,44105,402326,10.962503040000000000000
Zacatecas,2022,1,Mujeres,39472,255761,15.43315830000000000000

In [27]:
#Paso 2: Aplicamos Filtro de Filas vs Columnas
filtro4= df.loc[["Puebla","Oaxaca","Veracruz","Guerrero"], ["Poblacion_ocupada_en_la_industria_manufacturera"]]
filtro4

                   Poblacion_ocupada_en_la_industria_manufacturera
Entidad_Federativa
Puebla                                                      230487
Puebla                                                      188720
Puebla                                                      236459
Puebla                                                      190831
Puebla                                                      233484
...                                                            ...
Guerrero                                                     91799
Guerrero                                                     59920
Guerrero                                                     70838
Guerrero                                                     65484
Guerrero                                                     70182

[552 rows x 1 columns]

In [28]:
#Filtro por Cabecera
filtro5=df.head()
filtro5

,Periodo,Trimestre,Sexo,Poblacion_ocupada_en_la_industria_manufacturera,Poblaci n_ocupada,Tasa_de_ocupaci n_en_la_industria_manufacturera
Entidad_Federativa,,,,,,
Nacional,2005,1,Hombres,4384907,26597801,16.485975660000000000000
Nacional,2005,1,Mujeres,2690296,14843275,18.124679360000000000000
Aguascalientes,2005,1,Hombres,56407,246177,22.913188480000000000000
Aguascalientes,2005,1,Mujeres,28430,145656,19.518591750000000000000
Baja California,2005,1,Hombres,167651,768989,21.801482210000000000000

In [31]:
#*FILTROS BASICOS PARA VARIABLES CUANTITATIVAS

#Fiiltro por comparacion
filtro6=df[df["Periodo"] >= 2006]
filtro6

,Periodo,Trimestre,Sexo,Poblacion_ocupada_en_la_industria_manufacturera,Poblaci n_ocupada,Tasa_de_ocupaci n_en_la_industria_manufacturera
Entidad_Federativa,,,,,,
Nacional,2006,1,Hombres,4377795,26913995,16.265868370000000000000
Nacional,2006,1,Mujeres,2741480,15826941,17.321603710000000000000
Aguascalientes,2006,1,Hombres,58341,256317,22.761268270000000000000
Aguascalientes,2006,1,Mujeres,25737,152027,16.929229680000000000000
Baja California,2006,1,Hombres,156261,779609,20.043508990000000000000
...,...,...,...,...,...,...
Veracruz,2022,1,Mujeres,107640,1190733,9.0398099320000000000000
Yucat n,2022,1,Hombres,101992,691397,14.751582670000000000000
Yucat n,2022,1,Mujeres,82759,478943,17.279509250000000000000
Zacatecas,2022,1,Hombres,44105,402326,10.962503040000000000000
Zacatecas,2022,1,Mujeres,39472,255761,15.43315830000000000000

In [35]:
#*FILTROS BASICOS CON CONTENEDORES BASICOS
#Filtro Y
filtro7=df[(df["Periodo"] == 2015) & (df["Sexo"]== "Hombres")]
filtro7

,Periodo,Trimestre,Sexo,Poblacion_ocupada_en_la_industria_manufacturera,Poblaci n_ocupada,Tasa_de_ocupaci n_en_la_industria_manufacturera
Entidad_Federativa,,,,,,
Nacional,2015,1,Hombres,5078477,31009993,16.37690470000000000000
Aguascalientes,2015,1,Hombres,81720,316943,25.783816020000000000000
Baja California,2015,1,Hombres,230590,928565,24.832941150000000000000
Baja California Sur,2015,1,Hombres,15397,218914,7.0333555640000000000000
Campeche,2015,1,Hombres,17259,252305,6.8405303110000000000000
...,...,...,...,...,...,...
Tamaulipas,2015,4,Hombres,199818,915086,21.835980440000000000000
Tlaxcala,2015,4,Hombres,76685,323208,23.726207270000000000000
Veracruz,2015,4,Hombres,204569,2041229,10.021854480000000000000
Yucat n,2015,4,Hombres,87582,597910,14.648023950000000000000
Zacatecas,2015,4,Hombres,37329,402571,9.2726500420000000000000

In [42]:
#Filtro Y2
filtro8=df[(df["Periodo"] == 2015) & (df["Sexo"] == "Hombres") & (df["Entidad_Federativa"] == "Puebla")]
filtro8

,Periodo,Trimestre,Entidad_Federativa,Sexo,Poblacion_ocupada_en_la_industria_manufacturera,Poblaci n_ocupada,Tasa_de_ocupaci n_en_la_industria_manufacturera
2682,2015,1,Puebla,Hombres,213571,1549409,13.784029910000000000000
2748,2015,2,Puebla,Hombres,209708,1602273,13.088156640000000000000
2814,2015,3,Puebla,Hombres,231235,1559704,14.825569470000000000000
2880,2015,4,Puebla,Hombres,228012,1619413,14.079916610000000000000